.container{
padding-left: 20%;    
}
.img1{
 width: 30%;
}
.img2{
    width: 30%;
}
body{
    background-color: bisque;
}
h1{
    font-family: fantasy;
    color: darkgoldenrod;
    text-align: center;
}
h3{
    font-family: cursive;
 color: darkgoldenrod;
 text-align: center;
}
.btn{
margin-top: 50px;
width: 20%;
border: solid;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 28px;
padding-right: 28px;
font-size: 16px;
 text-align: center;
 align-self: center;
}